#.env means environment variables file in all subdirectories
# same for .DS_Store, .vscode/, __pycache__, node_modules/, dist/
.env
.DS_Store
.vscode/
__pycache__/
node_modules/
dist/

AIbyJCApp/AIbyJCApp.xcodeproj/project.xcworkspace/

Analysis/

DigitNN/data/
DigitNN/test_scripts/

QuadraticFunction/
