DigitNN/.DS_Store
WebInterface/.DS_Store
DigitNN/__pycache__
.DS_Store
DigitNN/data/temp/
DigitNN/data/DERun/
DigitNN/data/MNIST/
AIbyJCApp/AIbyJCApp.xcodeproj/project.xcworkspace/
DigitNN/data/1missing.jpeg
DigitNN/data/autoencoder/
DigitNN/data/font_digits/
DigitNN/data/modelForDE/
DigitNN/data/non-digits/
node_modules/
.vscode/
DigitNN/test_scripts/
Analysis/